.button-primary {
    background: #3b71ca;
    color: #fff;
    box-shadow: 0 4px 9px -4px #3b71ca;
    /* box-shadow: 0 8px 9px -4px rgba(59,113,202,0.3),0 4px 18px 0 rgba(59,113,202,0.2) */
}
.button-primary:hover{
    background:#386bc0 ;
    color: #fff
}
.button-primary:focus{
    background:#386bc0 ;
    color: #fff
}
.button-primary:active{
    background:#386bc0 ;
    color: #fff
}