#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 1.2s ease-in-out;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide.swiper-slide-prev img,
.swiper-slide.swiper-slide-next img {
  opacity: 0;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.swiper-slide.swiper-slide-prev img {
  transform: translateX(-100%);
}

.swiper-slide.swiper-slide-next img {
  transform: translateX(100%);
}
